apiVersion: v1
kind: Secret
metadata:
  name: remote-logging-secret
  namespace: openshift-logging
data:
  ca-bundle.crt: {{ ingress_cert.resources[0].data['ca-bundle.crt'] | b64encode }}
  token: {{ logging_secret.resources[0].data.token }}
type: Opaque
