apiVersion: v1
kind: Secret
metadata:
  name: logging-loki-s3
  namespace: openshift-logging
stringData:
  access_key_id: {{ noobaa_secret.resources[0].data.AWS_ACCESS_KEY_ID | b64decode }}
  access_key_secret: {{ noobaa_secret.resources[0].data.AWS_SECRET_ACCESS_KEY | b64decode }}
  bucketnames: loki-bucket
  endpoint: {{ noobaa.resources[0].status.services.serviceS3.internalDNS[0] }}
